{% load embed_video_tags %}
{% load static %}

<html>
    <head>
        <title>FitWeb</title>
        <link rel=”apple-touch-icon” href=”/apple-touch-icon.png”/ >
        <link rel=”favicon.ico” href=”/favicon.ico”/ >
        <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/main.css" %}">

    </head>


    <style>
        body{background-color: black}
        .list-group-item {
            background-color: rgba(0, 0, 0, 1);
            border: 1px solid rgba(225,225,225,225);
        }

.bg-light {
    background-color: #000000 !important;
}
        .dropdown-item:hover{
            background-color: rgba(0,0,0,0.25);
        }

        #mainlist {
            border: 1px solid rgba(225,225,225,225);
        }


    </style>
<body>

    <h1 class="logo" style="margin-top: 50px"><a id="logo" href="{% url 'home' %}"><img src="static/images/logo.png"></a></h1>
    <header class="page-header" style="overflow: auto;">
        <a style="color: #9f80ff; text-align: center" href={% url 'weight_training_list' %}><h2><b>WEIGHT_TRAINING</b></h2></a>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px;">
      <div class="container-fluid" style="background-color: black;" >
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav" style="margin-right: auto; margin-left: auto;ß">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color: #ffffff; margin-right: 10px; " href={% url 'home' %}>CUSTOMIZED_EXERCISE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color: #ffffff; margin-right: 10px; " href={% url 'stretching_list' %}>STRETCHING</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" style="color: #ffffff; margin-right: 10px; " href={% url 'hiit_list' %}>HIIT</a>
                </li>
                  </ul>
            </div>
          </ul>
        </div>
      </div>
    </nav>


    <h2 id="barofont" class="listdown" >
        <ul id="mainlist"  class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="dropdown dropend">
                  <button  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <a style="font-size: 20px;" href={% url 'home' %}>Beginner Level</a>
                  </button >
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="background-color: white">
                        <li class="dropdown-item" ><a style="color: black" href="{% url 'weight_training_list_beginner_level_2parts'%}">2 Part Exercise</a></li>
                        <li class="dropdown-item" ><a style="color: black" href="{% url 'weight_training_list_beginner_level_3parts' %}">3 Part Exercise</a></li>
                      </ul>
                </div>
            </li>
            <li class="list-group-item">
                <div class="dropdown dropend">
                  <button  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <a style="font-size: 20px;" href={% url 'home' %}>Intermediate Level</a>
                  </button >
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="background-color: white">
                        <li class="dropdown-item" ><a style="color: black" href="{% url 'weight_training_list_intermediate_level_2parts'%}">2 Part Exercise</a></li>
                        <li class="dropdown-item" ><a style="color: black" href="{% url 'weight_training_list_intermediate_level_3parts' %}">3 Part Exercise</a></li>
                        <li class="dropdown-item" ><a style="color: black" href="{% url 'weight_training_list_intermediate_level_4parts' %}">4 Part Exercise</a></li>
                        <li class="dropdown-item" ><a style="color: black" href="{% url 'weight_training_list_intermediate_level_5parts' %}">5 Part Exercise</a></li>
                      </ul>
                </div>
            </li>
            <li class="list-group-item">
                <div class="dropdown dropend">
                  <button  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <a style="font-size: 20px;" href={% url 'home' %}>Advanced Level</a>
                  </button >
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="background-color: white">
                        <li class="dropdown-item" ><a style="color: black" href="{% url 'weight_training_list_advanced_level_3parts' %}">3 Part Exercise</a></li>
                        <li class="dropdown-item" ><a style="color: black" href="{% url 'weight_training_list_advanced_level_4parts' %}">4 Part Exercise</a></li>
                        <li class="dropdown-item" ><a style="color: black" href="{% url 'weight_training_list_advanced_level_5parts' %}">5 Part Exercise</a></li>

                      </ul>
                </div>
            </li>
        </ul>
    </h2>


</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>